.logo{
    /*posicionamos logo dentro del header. */ 
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding:1rem;
    &-img {
        width:10rem;//el tamaño de la celda del grid. Dentro de un contenedor con tamaño no se pone 
                    //vw ni vh porque dependen de la vista
        height: 100%;
    }
}