/*Mobile first technique*/
*{
    box-sizing:border-box;
    margin:0;
}
nav{
    background-color:lightcyan;
    height:40px;
    text-align:right;
}
.columna1{
    background-color:grey;
}
.columna2{
    background-color:greenyellow;
}
.columna3{
    background-color:red;
}
.columna4{
    background-color:burlywood;
}
.columna5{
    background-color:gold;
}
.columna1,.columna2,.columna3,.columna4,.columna5{
    width:100%;
    height:320px;
}

@media screen and (min-width:568px){
    .container{
        display:flex;
        flex-wrap: wrap;
    }
    .columna2,.columna3{
        width:50%;
    }
    .columna4,.columna5{
        display:none;
    }
}
@media screen and (min-width:768px){
    .columna1{
        width:75%;
    }
    .columna2{
        width:25%;
    }
    .columna3,.columna4,.columna5{
        width:33.33%;
    }
    .columna4,.columna5{
        display:unset;
    }
}