*{
    box-sizing: border-box;
    margin:0;
}
#main{
    font-size:1.2rem;
}
.card{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:470px;
    border:1px solid #ccc;
    box-shadow:2px 2px 8px 1px rgba(0,0,0,0.3);
    margin-bottom:10%;
    /* height:70vh; *//*vh, habría que ponerle a todo el contenido tbn vh*/
}
.contenido{
    padding:4% 10%;
}
.contenido h1{
    margin: 7% 0;
}
.contenido p{
    text-align:left;
    height:135px;
    overflow:auto;
}

/*Scroll personalizado*/

.contenido p::-webkit-scrollbar{
    width:6px;
}

.contenido p::-webkit-scrollbar-thumb{
    background-color:rosybrown;
    border-radius:5px;
}

/*//////////////////////////*/

#divImagen{
    background-image:url(hongos.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top;
    height:200px;
}
.card button{
    padding:3%;
    background-color:gray;
    color:white;
}

@media screen and (min-width:568px){
    #main{
        display:flex;
        justify-content:space-around;
        flex-wrap:wrap;
        padding:4%;
    }
    .card{
        width:46%;
        margin-bottom:7%;
    }
}
@media screen and (min-width:768px){
    .card{
        width:300px;
    }
}