*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family:sans-serif;
    background-color:#CACACA;
}
nav{
    background-color:black;
    padding:5px 20px;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:underline;
}
.logo a:hover{
    text-decoration:none;
}
.menu li{
    font-size:1.1rem;
    padding:15px 5px;
    white-space:nowrap;
}
.logo a, .toggle a{
    font-size:1.2rem;
}
.button.secondary{
    border-bottom:1px solid black;
}

/*Mobile menu*/

.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}
.mobile-menu{
    position:absolute;
    right:0.5em;
    top:0.5em;
    width:1.2em;
    order:1;
}
.menu-icon{
    font-size:1.2em;
    font-weight:bold;
    cursor:pointer;
}
.toggle{
    order:1;
}
.item.buttom{
    order:2;
}
.item{
    width:100%;
    text-align:center;
    order:3;
    display:none;
}
.item.active{
    display:block;
}
.hide{
    display:none;
}

/*Tablet menu*/

@media all and (min-width: 600px){
    .menu{
        justify-content:center;
    }
    .logo{
        flex:1;
    }
    .toggle{
        flex:1;
        text-align:right;
        order:2;
    }
    .item.buttom{
        width:auto;
        order:1;
        display:block;
    }
    .button.secondary{
        border:0;
    }
    .button a{
        padding:7.5px 15px;
        background:teal;
        border:1px solid #006d6d;
    }
    .button.secondary a{
        background:transparent;
    }
    .button a:hover{
        text-decoration:none;
    }
    .button:not(.secondary) a:hover{
        
    }
    

}

