div.exampleborderradius {
    background-color: #eee;
    padding: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
}

div.exampleborderradiusa {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center;
    border-radius: 0 0 50px 0;
}

div.exampleborderradiusb {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center;
    border-bottom-right-radius:40% 30%; /*Más inclinado en la base*/
    /* border-radius:40px/20px; Igual. Si es 20px/40px más inclinado en el lado*/
}

div.exampleborderradiusc {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center;
    border-bottom-right-radius:20% 60%;
}

div.exampleborderradiusd {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    width: 12em;
    height: 5em;
    text-align: center;
    border-radius:10px 60px;
}

div.exampleborderradiuse {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center;
    border-top-left-radius: 20% 10%;
    border-top-right-radius: 5% 20% ;
    border-bottom-right-radius: 20% 10%;
    border-bottom-left-radius: 5% 20%;
}

div.exampleborderradiusf {
    float:left;
    background-color: #464646;
    margin-top: 20px;
    margin-right: 40px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius:40px; 
}

.examplelabelborderradius {
    color: white;
    font-size: 20px;
    position: relative;
    top: 20px;
}