@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
/*   font-family: 'Tajawal', sans-serif;*/
/*estilos generales*//*Usando tecnología mobil first*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    width:80%;
    margin:2rem auto;
}
.container p{
    margin:1rem 0;
}
.hero{
    background: url(../images/greysky.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
}
.main-header .nav-links .nav-link a{
    margin:.2rem;
    padding:1rem .5rem;
}
.main-header .nav-links .nav-link a:hover{
   background-color:rgba(255, 255, 255, 0.2);
}
.main-header{/*contenedor header*/
    border-bottom: 0px;
    width: 100vw;
    padding: 0 10vw;
    color:black;
    font-weight: bold;
    background-color:darkgrey;
    height:50vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.main-header .logo{
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
}
.main-header a{
    text-decoration: none;
    color:inherit;
    text-transform: uppercase;
}
.main-header .nav-links{/*ul*/
    border-bottom:0;
    list-style-type: none;
}
.main-header .nav-links .nav-link{/*li*/
    height: 10vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header .nav-links .nav-link a{
    border-bottom: 0;
}

/*media*/

@media screen and (min-width:768px){
    .main-header{
        position:fixed;
        flex-direction:row;
        justify-content:space-around;
        background-color:unset;
        height:15vh;
        padding:0;
    }
    .main-header .nav-links{
        display:flex;
        justify-content:space-around;
    }
}
