.logo{
    font-size:4rem;
    color:$color-primary;
    @include flexlayout;
    width: 7rem;
    height: 7rem;
    margin-right:2px;
    border:3px solid $color-primary;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.main-name{
    font-family: $font-nunito;
    font-size: 3rem;
    color:$color-secondary;
    @include textStyles;
}
.sub-name{
    font-family: $font-josefin;
    font-size: 1rem;
    color:$color-secondary;
    text-align: center;
    @include textStyles;
}
.main-heading{
    font-family: $font-dancing;
    font-size: 4rem;
    font-weight: 300;
    color:$color-primary;
    margin-bottom: 40px;
    @media(min-width:576px){
        font-size:5rem;
    }
    @media(min-width:768px){
        font-size:5.5rem;
    }
    @media(min-widht:992px){
        font-size:6rem;
    }
}
.sub-heading{
    font-family: $font-josefin;
    font-size: 1.2rem;
    font-weight: 300;
    color:$color-secondary;
    margin-bottom: 80px;
    @media(min-width:576px){
        font-size:1.5rem;
    }
    @media(min-width:768px){
        font-size:2rem;
    }
    @media(min-width:992px){
        font-size:3rem; 
    }
}
.main-btn{
    width: 170px;
    height: 45px;
    font-family: $font-josefin;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:$color-primary;
    background-color: transparent;
    border:1px solid $color-primary;
    outline:none;
    cursor:pointer;
    transition: all .4s;
    
    &:hover{
        background-color:$color-primary;
        color:$color-dark;
    }
}
.card{
    width:33.3333%;
    height:30vh;
    position:relative;
    overflow:hidden;

    &:hover .card-overlay{
        left:0;
    }
    &-overlay{
        position:absolute;
        top:0;
        left:-100%;
        background-color:rgba($color-primary,.6s);
        color:$color-white;
        z-index:10;
        @include flexlayout;
        flex-direction:column;
        @extend %fullSpace;
        transition:left .7s;
    
        &-heading{
            font-family:$font-nunito;
            font-size:1rem;
            @include textStyles(capitalize);
            @include tamanofuente(1rem,2rem,3rem);
        }
        &-paragraph{
            font-family:$font-josefin;
            font-size:.8rem;
            margin-bottom:30px;
            @include textStyles(capitalize);
            @include tamanofuente(1rem,1.5rem,2rem);
        }
        &-btn{
            width:100px;
            height:30px;
            color:$color-primary;
            background-color:$color-white;
            font-family:$font-josefin;
            font-size:1rem;
            font-weight:bold;
            text-transform:uppercase;
            letter-spacing:1px;
            border:1px solid $color-primary;
            border-radius:30px;
            outline:none;
            cursor:pointer;
            @include tamanofuente(1.2rem,1.5rem,2rem);
            @media(min-width:768px){
                width:130px;
                height:30px;
            }
            @media(min-width:992px){
                width:150px;
                height:40px;
            }
        }
    }
    &-img{
        @extend %fullSpace;
        object-fit:cover;
        opacity:.5s;
    }
}